# Sanity CMS
NEXT_PUBLIC_SANITY_PROJECT_ID=
NEXT_PUBLIC_SANITY_DATASET=production

# Formspree (formulário de contato)
NEXT_PUBLIC_FORMSPREE_ID=

# Segredo para o webhook de revalidação do Sanity
REVALIDATE_SECRET=
